body {background-color: #b3cde0;}

h1, h2, p {color: #000000;}

a:link {
  color: #005b96;
}

a:visited {
  color: gray;
}

nav a:hover {background-color: #d5e7eb;}

nav a {
  color: rgb(37, 153, 207);        
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

nav {margin-bottom: 30px}

body { font-family: sans-serif; }
h1, h2 { color: darkcyan; }
.evenrow { color: DarkGrey; }
h1 { font-family: 2 em; }
h2 { font-family: .5 em; }